<footer class="gn-footer" style="background-color: #0a1420; border-top: 2px solid #c8a951;">
    <ul>
        <li>
            <a href="/account/login/" class="nav-link">
                <span>Admin</span>
            </a>
        </li>
        <li>
            <a href="mailto:admin@example.com" class="nav-link">
                <span>Feedback</span>
            </a>
        </li>
        <li>
            <a href="/catalogue/#/search/" class="nav-link">
                <span>Catalogue</span>
            </a>
        </li>
        <li>
            <a href="/about/" class="nav-link">
                <span>About</span>
            </a>
        </li>
        <li>
            <a href="/people/" class="nav-link">
                <span>Contact Us</span>
            </a>
        </li>
    </ul>
</footer>
